body {
    margin: 0;
}

.sidebar {
    height: 100vh;
    background-color: rgb(14, 47, 110);
    color: white;
    font-size: 20px;
    padding: 0 40px;
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: column;
    span:first-child {
        margin-top: 150px;
      }
    span {
        margin: 5px 0;
        cursor: pointer;
    }
}

.catContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    img {
        margin: 0 auto 15px;
    }
    button {
        width: 20vw;
        margin: 20px auto;
    }
}

.no-category {
    margin: 150px auto;
    font-size: 30px;
}